<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>自定义提示</title>
    <script type="text/javascript" src="jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="jquery.autocomplete.js"></script>
    <link rel="Stylesheet" href="jquery.autocomplete.css" />
    <script src="jquery.cookie.js"></script>

</head>
<body>
    <form id="form1" action="/home/search" method="get">
    <div>
        <input id="keyword" name="q" type="text" autocomplete='off'/>
        <input type="submit" value="GetValue" id="su1" />
    </div>
    </form>
</body>
<script type="text/javascript">
    $(function() {
      $('#keyword').autocomplete("home/api", {
          max: 12,    //列表里的条目数
          minChars: 0,    //自动完成激活之前填入的最小字符
          width: 400,     //提示的宽度，溢出隐藏
          scrollHeight: 300,   //提示的高度，溢出显示滚动条
          matchSubset: false,
          matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
          parse: false,
          formatItem: function(row) { return row ; },
          formatUrl: function(row) { return "/search/log"; }, //记录用户点击行为
          formatMatch: null,
      }); 
    });
    </script>
</html>